# Seguridad y Configuración
.env
db.sqlite3
SECRET_KEY
local_settings.py

# Archivos de Medios y Privacidad (Fotos de personas)
media/
perfiles/
clientes/

# Entornos Virtuales
venv/
.venv/
env/

# Archivos de Sistema y Caché
__pycache__/
*.py[cod]
*$py.class
staticfiles_production/

# Editores de Código
.vscode/
.idea/

# Logs
*.log