{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Seguridad Banders{% endblock %}

{% block content %}
<div class="auth-page-wrapper pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card mt-4 shadow-lg border-0">
                    <div class="card-body p-4 text-center">
                        <div class="avatar-lg mx-auto mb-3">
                            <div class="avatar-title bg-soft-success text-success display-5 rounded-circle">
                                <i class="ri-shield-keyhole-line"></i>
                            </div>
                        </div>
                        <h5 class="text-primary">Verificación de Identidad</h5>
                        <p class="text-muted text-start mt-3">Ingresa el código de 6 dígitos de tu aplicación autenticadora.</p>

                        <form method="POST" class="text-start mt-4">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-success w-100 py-2 mt-3" type="submit">Verificar Código</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}