{% extends "base.html" %}
{% load static %}

{% block content %}
{# ELIMINAMOS EL WRAPPER DE AQUÍ PARA QUE NO SE VEA DOBLE #}

{% include 'partials/menu.html' %}

<div class="page-content">
    <div class="container-fluid">
        {# Aquí se inyectan perfil_detail, colaboradores_list, etc. #}
        {% block page_content %}{% endblock page_content %}
    </div>
    {% include 'partials/footer.html' %}
</div>

<style>
    /* Esto evita que el lateral azul tape el contenido blanco */
    @media (min-width: 992px) {
        .page-content {
            margin-left: 250px; /* Ancho exacto del sidebar */
            transition: all .3s ease-out;
        }
    }
</style>
{% endblock content %}